name: Nix Build
on: push
jobs:
  chromecastise:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: nixbuild/nix-quick-install-action@v21
        with:
          nix_conf: experimental-features = nix-command flakes
      - name: nix build
        run: nix build
      - name: nix flake check
        run: nix flake check
      - name: chromecastise
        run: ./result/bin/chromecastise --version
